* {
    margin: 0;
    padding: 0;
}

body {
    height: 3000px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: lightsalmon;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 300px;
}

.bg {
    width: 100%;
    height: 500px;
    border: 10px solid black;
    background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA5MTNfNTEg%2FMDAxNjk0NTgyNTk0NTYz.grwhEuHPQdGPn1CqaFkILkDEIJCyRnC2eMRIjT7zUH8g.37jVh6IbO3sgv0l4vaC5x6103D-SrXJQsoCNFg-qoqMg.JPEG.shaellina%2F20230815%25A3%25DF183228.jpg&type=ofullfill340_600_png);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
    /* 배경이미지를 고정 시킴 */
    background-position: center;
}