* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.wrap {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.con {
    background-color: #f1f1f1;
    margin-top: 35px;
    padding: 20px;
}

.user_info {
    display: flex;
    align-items: center;
}

.avata {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 15px;
    overflow: hidden;
}

.avata img {
    height: 100%;
    object-fit: cover;
}

.bg {
    height: 400px;
    background-color: lightgray;
    margin: 20px 0;
}

.bg img {
    height: 100%;
    object-fit: cover; 
    /* 이미지 태그를 배경 이미지처럼 가득 채울때 사용(잘려나가는 영역 생김) */
}

.heart {
    font-size: 20px;
    color: #555;
    cursor: pointer;
}

.fa-solid {
    color: red;
}










