html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

img, video {
    width: 100%;
    display: block;
}

span {
	display: inline-block;
}

.wrap {
    width: 600px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: relative;
    z-index: 990;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: rgb(255, 62, 94);
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}

.fa-bars {
    font-size: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
}

.side_menu {
    position: absolute;
    z-index: 991;
    right: -600px;
    top: 0;
    width: 600px;
    height: 100%;
    background-color: rgb(255, 215, 221);
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.menu_active {
    transform: translateX(-600px);
    opacity: 1;
}

.menu_header {
    position: relative;
    z-index: 992;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: salmon;
    margin-bottom: 50px;
}

.menu_logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
    height: 30px;
    display: flex;
    align-items: center;
}

.menu_title {
    position: relative;
    z-index: 992;
    width: 100%;
    padding: 0 20px;
}

.title {
    height: 40px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid black;
    cursor: pointer;
}

.fa-xmark {
    font-size: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
}

.container {
    width: 600px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contents {
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 10px;
}

.user {
    width: 100%;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    z-index: 0;
}

.profile img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user_id {
    font-weight: bold;
}

.contents_img {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.contents_img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.like {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.fa-heart {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
    cursor: pointer;
}

.active {
    font-weight: bold;
    color: red;
}

.count {
    font-weight: bold;
}
